.form-group {
    transition: transform 0.3s ease-in-out;
}

.form-group:hover {
    transform: scale(1.05);
}

.btn-primary {
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #007bff;
    transform: scale(1.1);
}

#recoverForm .form-control {
    margin-bottom: 1rem;
}

#recoverForm .btn {
    background-color: #800000;
    color: white;
    border: none;
}

#recoverForm .btn:hover {
    background-color: #660000;
}

.jumbotron {
    background-color: #f8f9fa;
}

.jumbotron .display-4 {
    color: #800000;
}